

Body {   
  Max-width:600px;
 font-family: "Arvo", serif;
  margin: auto;
  font-weight: 350;
  font-style: normal;
 }
H1,H2 { color: black;
 font-family: "Brush Script MT", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


Td, th {
  Padding: 4px;
  
}
table, th, td {
  border: 1px solid pink;
}
table {
  border-collapse: collapse;
}


